<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997197135925-3oqnb8266j8ll0si8e0k8smm7ji5k772.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997197135925-3oqnb8266j8ll0si8e0k8smm7ji5k772</string>
	<key>API_KEY</key>
	<string>AIzaSyDBrYBwaEdX_XTM41pvQyBF08dTqfoMwAg</string>
	<key>GCM_SENDER_ID</key>
	<string>997197135925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.PayFlow</string>
	<key>PROJECT_ID</key>
	<string>playflow-424e1</string>
	<key>STORAGE_BUCKET</key>
	<string>playflow-424e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997197135925:ios:58031b59a7faa10b42317c</string>
	<key>DATABASE_URL</key>
	<string>https://playflow-424e1-default-rtdb.firebaseio.com</string>
</dict>
</plist>